.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
    background: linear-gradient(#FFFFFF, #e5e7f5, #FFFFFF);
    height: 90vh;
}

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form {
    width: 25rem;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(255, 252, 252);
    border: 1px solid #D9E3F480;
    padding: 3rem 2rem;
    border-radius: 1.5rem;
    margin: 2rem;
    gap: 1.5rem;
}

.label {
    line-height: .1rem;
    font-weight: bold;
    font-size: 1rem;
}

.passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.eyeIcon {
    position: absolute;
    right: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #666;
}

.passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.eyeIcon {
    position: absolute;
    right: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: #666;
}

.input,
.button {
    border: 1px solid #9ca2ad80;
    background-color: white;
    padding: 1rem;
    font-size: 1.1rem;
    margin-bottom: .5rem;
    border-radius: 1rem;
    width: 100%;
}

.input {
    max-width: 365px
}

.input:focus {
    outline: none;
    border-color: var(--color-primary);
}

.passwords {
    display: flex;
    gap: 1.5rem;
}

.passwordField {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.button {
    color: var(--color-primary);
    font-size: 1.3rem;
    background-color: var(--color-bg);
    font-weight: bold;
    margin-bottom: 0;
    cursor: pointer;
}

.button:hover {
    transform: translateY(-1px);
}

.divider {
    text-align: center;
    font-weight: lighter;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #D9E3F4;
    border-radius: 2rem;
    font-size: 1rem;
    gap: 1rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

.error {
    color: var(--color-danger);
}