.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(var(--color-bg1), var(--color-bg2), var(--color-bg1));
    padding-top: 2rem;
    margin: 2rem 0;
}

.title {
    color: var(--color-text);
    text-align: center;
}

.header {
    font-size: 3rem;
    margin: 0;
}

.text {
    margin: 0;
    font-size: 1rem;
    color: var(--color-text);
}

.form {
    width: 25rem;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: var(--color-bg);
    border: 1px solid var(--color-border);
    padding: 3rem 2rem;
    border-radius: 1.5rem;
    margin: 2rem;
    gap: 1.5rem;
}

.label {
    line-height: .1rem;
    font-weight: bold;
    font-size: 1rem;
    color: var(--color-text);
}

.passwordWrapper {
    position: relative;
    display: flex;
    align-items: center;
}

.eyeIcon {
    position: absolute;
    right: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    color: var(--color-border);
}

.input,
.button {
    border: 1px solid #9ca2ad80;
    box-sizing: border-box;
    padding: 1rem;
    font-size: 1.1rem;
    margin-bottom: .5rem;
    border-radius: 1rem;
}

.input {
    background-color: var(--color-bg);
    color: var(--color-text);
    width: 100%;
}

.button {
    background-color: var(--color-primary);
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--color-bg);
}

.button:hover {
    transform: translateY(-1px);
}

.input:focus {
    outline: none;
    border-color: var(--color-primary);
}

.passwords {
    display: flex;
    gap: 1.5rem;
}

.passwordField {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.divider {
    text-align: center;
    font-weight: lighter;
    color: var(--color-text);
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    color: var(--color-text);
}

.icon {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color-border);
    border-radius: 2rem;
    font-size: 1.2rem;
    gap: 1rem;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--color-primary);
}

.error {
    color: var(--color-danger);
    text-align: center;
}

@media (max-width: 768px) {
    .header {
        font-size: 2rem;
    }

    .text {
        font-size: .8rem;
    }
}

@media (max-width: 550px) {
    .header {
        font-size: 1.5rem;
    }

    .error,
    .text {
        font-size: .8rem;
    }

    .form {
        width: 15rem;
        padding: 2rem 1.5rem;
        border-radius: 1.5rem;
        margin: 2rem;
        gap: 1rem;
        width: 70%;
    }

    .link,
    .label,
    .button,
    .input,
    .icon {
        font-size: .7rem;
    }

    .input {
        padding: 1rem .8rem;
    }

    .passwords {
        gap: 1rem;
    }

    .media {
        gap: .5rem;
    }

    .icon {
        gap: .5rem;
    }
}